@tailwind base;
@tailwind components;
@tailwind utilities;

.skeleton {
  background: linear-gradient(
    90deg,
    #2a2a2a 25%,
    #3a3a3a 50%,
    #2a2a2a 75%
  );
  background-size: 200% 100%;
  animation: wave 1.5s ease-in-out infinite;
  /* border-radius: 20px; */
  /* height: 100%; */
}

@keyframes wave {
  0% {
    background-position: 200% 0;
  }
  100% {
    background-position: -200% 0;
  }
}
